@using fotomarket.Models
@model List<Table_VideoKameralar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div style="text-align: center;">
    <h2>Video Kameralar Sayfası</h2>
</div>
<a href="/VideoKameralar/UrunEkle" class="btn btn-primary" style="margin-left: 10px;">Yeni Ürün Ekle</a>

<br />
<br />
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <th scope="row">ID</th>
                        <td>@x.ID</td>
                    </tr>
                    <tr>
                        <th scope="row">Marka ID</th>
                        <td>@x.MarkaID</td>
                    </tr>
                    <tr>
                        <th scope="row">Marka Adı</th>
                        <td>@x.MarkaAdi</td>
                    </tr>
                    <tr>
                        <th scope="row">Model Adı</th>
                        <td>@x.ModelAdi</td>
                    </tr>
                    <tr>
                        <th scope="row">Fiyat</th>
                        <td>@x.UrunFiyati</td>
                    </tr>
                    <tr>
                        <th scope="row">Görsel</th>
                        <td><a href="@x.UrunGorseli" target="_blank">@x.UrunGorseli</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Güncelle</th>
                        <td><a href="/VideoKameralar/UrunGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                    <tr style="border-bottom: 4px solid #ff0000;">
                        <th scope="row">Sil</th>
                        <td><a href="/VideoKameralar/UrunSil/@x.ID" class="btn btn-danger sil" @*data-id="@x.Id"*@>Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

